<% businesses.each(function(biz){ %>
	<li class="wiz-biz">Name: <%= biz.get("name") %><br>
		Location: <%= biz.get("location") %><br>
		Rating: <%= biz.get("rating") %><br>
		Category: <%= biz.get("category") %><br>
		Neigborhood: <%= biz.get("neighborhood") %><br>
		<img src="<%= biz.get('img_url') %>"
	</li>
<% }) %>