<div class="biz-show">
	<h1><%= business.get("name") %></h1><br>
	<div id="map-canvas" style="width:350px;height:350px;"></div>
	<div class="biz-show-pic">
		<img src="<%= business.get('img_url') %>"
	</div><br>
	
	Location: <%= business.get("location") %><br>
	Rating: <input id="input-2" type="number" class="rating" value="<%= business.get("rating")  %>" readonly="true" data-symbol="&#xf02d"; data-size="xl"><br>
	Category: <%= business.get("category") %><br>
	Neigborhood: <%= business.get("neighborhood") %><br>
</li><br>
<div class="reviews"></div>
<div class="reviews-form"></div>
<div class="photos"></div>
<div class="photos-form"></div>

