<div class="biz-show">
	<h1><%= business.get("name") %></h1><br>
	<div id="map-canvas" style="width:350px;height:350px;"></div>
	<div class="biz-show-pic">
		<img src="<%= business.get('img_url') %>"
	</div><br>
	
	Location: <%= business.get("location") %><br>
	Rating: <%= business.get("rating") %><br>
	Category: <%= business.get("category") %><br>
	Neigborhood: <%= business.get("neighborhood") %><br>
</li><br>
<input type="filepicker" data-fp-mimetype="image/*" name="business[img_src]"
data-fp-button-text="Choose Image" data-fp-button-class="btn-default">
<div class="reviews"></div>
<div class="reviews-form"></div>