<div class="biz-show">
	<h2 class="biz-name"><%= business.get("name") %></h2><br>
	Rating: <input type="number" class="rating star-show" value="<%= business.get("rating") %>" data-min=1 data-max=5 readonly="true" data-symbol="&#xf02d"; data-size="xl"><br>
	Location: <%= business.get("location") %><br>
	Category: <%= business.get("category") %><br>
	Neigborhood: <%= business.get("neighborhood") %><br>
</div>
<br>
<div class="list-group" id="map-container">
		
	
	<div class="row">	
	<li class="list-group-item" id="map-photos"><div id="map-canvas" style="width:350px;height:350px;" class="thumbnail"></div>
		<div class="wrap">
			<div class="carousel-photos"></div>
			<button class="prev">&laquo;</button>
			<button class="next">&raquo;</button>
			</div>
		</div>

		</li>
	</ul>
</div><br>

<div class="reviews-form"></div>
<div class="photos-form"></div>
<h2 class="user-reviews">User Reviews</h2>
<% if (_currentUserJSON === "null"){ %>
	<a href="session/new" class="sign-in-link">Please sign in to add photos and reviews</a>
<% } %>
<div class="reviews"></div>
<div class="near"></div>
<script> 
	$(".star-input").rating();
	$(".star-show").rating();
 </script>

