<!DOCTYPE html>
<html>
<head>
  <title>Expecto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

 
  <%= csrf_meta_tags %>

</head>
<body>
	<%= render partial: "layouts/header" %>
	

<%= yield %>

<script type="text/javascript" src="http://api.filepicker.io/v1/filepicker.js"></script>
<script>
	filepicker.setKey("AINiWE6EwQfOwCZBY30eiz");
</script>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<script>$(Expecto.initialize);</script>
<script>
  var _currentUserJSON = '<%= current_user.to_json.html_safe %>';
</script>
</body>
</html>
